<p id="notice"><%= notice %></p>

<p>
  <strong>Lecture title:</strong>
  <%= @assignment.lecture_title %>
</p>

<p>
  <strong>Reading:</strong>
  <%= @assignment.reading %>
</p>

<p>
  <strong>Homework:</strong>
  <%= @assignment.homework %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @assignment.attachment %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
