<!-- <h1>New Course</h1>

<%= render 'form', course: @course %>

<%= link_to 'Back', courses_path %> -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Rails Classroom</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<br/><br/>

<div style="padding:30px">
<h3> Please fill out the form below to create a course ! </h3>
<br/>

<%= bootstrap_form_for(@course) do |f| %>
  <%= f.text_field :classname %>
  <%= f.text_field :semester %>
  <%= f.text_field :time %>
  <%= f.text_field :school %>
  <%= f.submit "Create Course" %>
<% end %>
</div>
