<br/>
<br/>
<br/>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/courses">Courses
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
            <%= link_to "New Assignments", newassignment_path, class:"nav-link"%>
            <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item active">
          <%= link_to "New Announcements", newannouncement_path, class:"nav-link"%>
            <span class="sr-only">(current)</span>
        </li>
      </ul>
    </div>
  </nav>
  <div id="content" class="container">

    <div class="page-header">
      <h1>
        <span class="content-title-brand"><%=@course.classname%></span>
      </h1>
      <% if user_signed_in? %>
      <p>Logged-in As:
        <%= current_user.email %>
      </p>
      <% end %>
      <p>Session: <%=@course.semester%> </p>
      <p>Instructor: <%=@instructor.first_name%> <%=@instructor.last_name%> </p>
      <p>Class Time: <%=@course.time%> </p>
    </div>

    <br/>
    <h2>Announcements</h2>

    <div id="assignment-quick-list"></div>

    <div id='announcements'>
      <% if @course.announcements.length != 0 %>
      <ol>
        <% @course.announcements.each do |a| %>
        <li>
          <b>
            <u><%= a.created_at.to_time.strftime('%B %e')%></u>
          </b>
          <br/>
          <%= a.topic%>
          <br/>
          <%= a.content%>
        </li>
        <% end %>
      </ol>
    <% else %>
      <h3>
        There are no announcements yet.
      </h3>
      <%end%>
    </div>

    <br/>

    <div>
      <h2>Calendar</h2>

      <div id="calendar-wrapper" class="table-responsive">

        <table id="calendar" class="table">
          <tbody>
            <tr>

              <th>Date</th>
              <th>Lecture</th>
              <th>Reading</th>
              <th>Homework</th>
              <th>Attachments</th>
            </tr>
            <% if @course.assignments.length != 0 %>
            <% @course.assignments.reverse_each do |a| %>
            <tr class="odd">
              <td><%= a.lecture_date %></td>
              <td><%= a.lecture_title %></td>
              <br>

              <td><%= a.reading %><br></td>

              <td><%= a.homework %></td>

              <% if a.uploads.exists? %>
              <td>
                <%= link_to a.uploads_file_name, a.uploads.url %>
              </td>
              <% else %>
              <td>None</td>
              <% end %>
            </tr>
              <% end %>
          <% else %>
            <td>There</td>
            <td>Are</td>
            <br>
            <td>No<br></td>
            <td>Lessons</td>
            <td>Yet.</td>
            <% end %>
          </tbody>
        </table>

      </div>

    </div>

  </div>
